﻿@model cagdasbilgin.Models.Siparis

@{
  
    ViewBag.Title = "Abonelik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Abonelik</h2>

@using (Html.BeginForm()) 
{
   
    
    <div class="form-horizontal">        
        <hr />
       
        <div class="form-group">
          <label class="col-md-2 control-label">Email Adresiniz : </label> 
            <div class="col-md-10">
         <input type="email" name="email" />
            </div>
        </div>

        <div class="form-group">
                <label class="col-md-2 control-label">Paket Türü </label>
                                <div class="col-md-10">
               <input type="text" name="PaketAd" value="@ViewBag.Paket.PaketAd" disabled="disabled" class="form-control" />
                                    <input type="hidden" name="PaketTur" value="@ViewBag.Paket.PaketTur" disabled="disabled" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Paket Fiyatı : </label>
                 <div class="col-md-10">
                <input type="text" name="PaketFiyat" value="@ViewBag.Paket.PaketUcret" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            

            <div class="col-md-10">
               
               <input type="hidden" value="@ViewBag.Paket.Id" name="PaketId" />
            </div> 
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aboneliği Başlat" class="btn btn-info" />
            </div>
        </div>
        @if (TempData["mesaj"] != null)
        {
            <div class="alert alert-success">
                @TempData["mesaj"]
            </div>
        }
       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
