﻿@{
    ViewBag.Title = "Hakkımızda";
}
<h2 style="color:#EB6609">@ViewBag.Title</h2>

<div class="jumbotron">
    
    <p class="lead">Kendi altyapısını kurmak üzere fiber optik yatırımlarına hız kesmeden devam eden Saturnet, Türkiye'de 1000 Mbps'ye varan hızlarda internet erişimi sağlayan operatörlerden biridir. Saturnet, bireysel ve kurumsal müşterilerine internet erişimi servisi sunmaktadır.

        Türkiye’de internet erişiminin öncüsü Saturnet Türkiye'de tüm internet paketlerini AKK'siz olarak sunan ilk internet servis sağlayıcısıdır.

        Saturnet Elektronik Hizmetler Tic. A.Ş., yurt çapında muhtelif noktalarda, yüksek hızda internet erişimi sağlamak amacıyla 5809 sayılı Elektronik Haberleşme Kanunu ve ilgili Yönetmelikleri kapsamında yetkilendirilerek bireysel ve kurumsal abonelerine ses, data ve görüntü alanında iletişim çözümleri sunan; Bilgi Teknolojileri ve İletişim Kurumu’nun denetim ve gözetiminde faaliyet gösteren bir elektronik haberleşme işletmecisidir.</p>    
</div>
