﻿
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<cagdasbilgin.Models.Blog>

@foreach (var item in Model)
{
    <img width="1000" src="~/Content/Pictures/@item.BlogResimYol">
    <h2 style="color:#EB6609">@item.BlogBaslik</h2>
    <div class="lead">
        <p1>@item.BlogYazi</p1>
    </div>
    <br/><br/>
}