﻿@{
    ViewBag.Title = "İletişim";
}
        <div class="container" style="float:left">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="color:#EB6609">İletişim</h2>

                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.2531389455903!2d-89.23024619999998!3d48.4516724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d5923dbfe697737%3A0xc9d925c9bc9573fa!2s116+Bruce+St%2C+Thunder+Bay%2C+ON+P7A+5W6!5e0!3m2!1sen!2sca!4v1424272264157" width="600" height="450" frameborder="0" style="border:0"></iframe>*@
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXzVdI5VT57vNCdo1Y5Fi_Cb1mc11VxhY&q=Sakarya+Universitesi,Sakarya" width="1100" height="400" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        </p>
        <!---->
        <div class="container" style="float:left">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 well contactform">
                    <form role="form">
                        <div class="col-md-6">
                            <label>Ad</label>
                            <input class="form-control input-lg" placeholder="Adınız" type="text">

                            <label>Soyad</label>
                            <input class="form-control input-lg" placeholder="Soyadınız" type="text">

                            <label>Email</label>
                            <input class="form-control input-lg" placeholder="Email Adresiniz" type="text">

                            <label>Konu</label>
                            <select class="form-control input-lg" id="subject" name="subject">
                                <option selected value="na">
                                    Seçiniz:
                                </option>

                                <option value="service">
                                    Bilgi Alma
                                </option>

                                <option value="suggestions">
                                    Öneriler
                                </option>

                                <option value="product">
                                    Ürün Destek
                                </option>

                                <option value="product">
                                    Diğer
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Mesajınız:</label>
                            <textarea class="form-control input-lg" id="message" name="message" rows="10"></textarea>
                            <div>
                                <button class="btn btn-primary pull-right btn-lg" type="submit">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>















        @*<h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>*@
