﻿@model IEnumerable<cagdasbilgin.Models.Paket>
@using cagdasbilgin.Resources
@{
    ViewBag.Title = "Paketler";
    Layout = null;
}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Dil.bireysel                
            </h1>
            <ol class="breadcrumb">
                @*<li>
                    <a href="index.html">Home</a>
                </li>*@
                <li class="active">@Dil.bireysel</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        @foreach (var paketler in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-@paketler.PaketRenk text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">@paketler.PaketAd</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price">@paketler.PaketUcret<sup>.00</sup> ₺</span>
                        <span class="period">ayda</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>@paketler.AKKDurum</strong></li>
                        <li class="list-group-item"><strong>@paketler.PaketHiz</strong></li>
                        <li class="list-group-item"><strong>Limitsiz İnternet</strong></li>
                        <li class="list-group-item"><strong>Fiber İnternet</strong></li>
                        <li class="list-group-item"><strong>@paketler.PaketKampanya</strong></li>
                        <li class="list-group-item">
                            <a href="/Home/Abonelik/@paketler.Id" class="btn btn-primary">@Dil.basvur</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        
        
    </div>    
    <hr>
