﻿@model cagdasbilgin.Models.Siparis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaketTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaketTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaketFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaketFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaketId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
