﻿@model IEnumerable<cagdasbilgin.Models.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaketTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaketFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaketId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaketTuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaketFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaketId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
