﻿@model IEnumerable<cagdasbilgin.Models.Blog>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogResimYol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogYazi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogResimYol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogYazi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
