﻿@using cagdasbilgin.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Navbar.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>    
    
    
    <!-- YAPIŞ -->
    <div class="container">
        
        <div class="row hidden-xs topper">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/Pictures/logo2.png" class="col-xs-7" /></a> Çağdaş Bilgin - G141210045
            
        </div>
        <!-- Navigation -->
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs-inline-block nav-logo" href="/"><img src="~/Content/Pictures/saturn_kucuk.png" class="img-responsive" alt=""></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling
                        Li Class : visible-xs-block
                         -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav js-nav-add-active-class">
                            <li><a href="@Url.Action("Index","Home")">@Dil.anasayfa</a></li>
                            
                            <li class=""><a href="@Url.Action("About","Home")">@Dil.hakkimizda</a></li>
                            <li class=""><a href="@Url.Action("Blog","Home")">Blog</a></li>
                            <li class=""><a href="@Url.Action("Contact","Home")">@Dil.iletisim</a></li>
                            
                            <li>
                                <a style="color:#EB6609" href="@Url.Action("Dil","Home",routeValues:new {dil="tr",url=Request.RawUrl })">TR</a>
                            </li>    
                            <li>
                                <a style="color:#EB6609" href="@Url.Action("Dil","Home",routeValues:new {dil="en",url=Request.RawUrl })">ENG</a>
                            </li>                              
                        </ul> 
                        <!--  drop -->
                        @*<div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>*@
                        <!--  drop -->
                    @Html.Partial("_LoginPartial")
                        <!--
                        <ul class="nav navbar-nav navbar-right">
                            <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold" href="@Url.Action("Login","Account")">Üye Girişi</a>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <a type="button" class="navbar-btn btn btn-gradient-blue" style="margin-right:20px;" am-latosans="bold" href="@Url.Action("Register","Account")">Üye Ol</a>
                        </ul>-->
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Saturnet Elektronik Hizmetler Tic. A.Ş. Tüm Hakkı Saklıdır.</p>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $(".item:first").addClass("active");
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
